<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <img class="loginimage" src="https://play-lh.googleusercontent.com/WM_vcLlp6vCLoc8O6W7KCKClI_PnKIZFlhnfkUoB7NSTEBrHbT_ZLww86M__DtZ2hMA" alt="amazontracker">
    <h1 class="display-3">Amazon PriceTracker</h1>
    <p class="lead">Why worry, when you can save money!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
